@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

*{
  font-family: "EB Garamond";
}

body::-webkit-scrollbar{
    display: none;
}

body{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}